body{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }